/* global.css */

html, 
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh; 
}


body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.65;
  word-break: break-word;
  font-kerning: auto;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  hyphens: auto; 
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100vh; 
}

/* ... rest of your global.css styles */

.dark {
  background-color: #333;
  color: #fff;
  height: 100%;
  min-height: 100vh; 
}

.light {
  background-color: #d2b48c;
  color: #000;
  height: 100%;
  min-height: 100vh; 
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.animation {
  transition: all 0.3s ease;
}

@keyframes squareAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modeButtonAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes resetButtonAnimation {
  0% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: red;
  }
}
* {
  box-sizing: border-box;
}